<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>opencartTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>opencart_shopinsk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A67AC761B03E28A00274F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A6FC22B18F848B400CD4E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A6FC24B18F848B400CD4E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE212C81AC5EB310097B36C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AEE7D1D19D4B04F00385364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
